html {
    box-sizing: border-box;
}

body {
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}

.login-container {
    width: 500px;
    height: 500px;
    background: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.4);
}

form {
    position: relative;
    width: 85%;
}

.form-group {
    height: 50px;
    width: 700px;
}

.rainbow-letters {
    font-size: 20px;
    font-family: sans-serif;
  }

.rainbow-letters span:nth-child(15n + 1) {
color: #ef5350;
}

.rainbow-letters span:nth-child(15n + 2) {
color: #63bdea;
}

.rainbow-letters span:nth-child(15n + 3){
color: #fffc37;
}

.rainbow-letters span:nth-child(15n + 4){
color: #0fec64;
}

.rainbow-letters span:nth-child(15n + 5){
color: #ec19e2;
}

.rainbow-letters span:nth-child(15n + 6){
color: #ff984f;
}

.rainbow-letters span:nth-child(15n + 7){
color: #ffffff;
}

.rainbow-letters span:nth-child(15n + 8){
color: #ffffff;
}

.rainbow-letters span:nth-child(15n + 9){
color: #ffffff;
}

.rainbow-letters span:nth-child(15n + 10){
color: #ffffff;
}

.rainbow-letters span:nth-child(15n + 11){
color: #ffffff;
}

.rainbow-letters span:nth-child(15n + 12){
color: #ffffff;
}

.rainbow-letters span:nth-child(15n + 13){
color: #ffffff;
}

.rainbow-letters span:nth-child(15n + 14){
color: #ffffff;
}

.rainbow-letters span:nth-child(15n + 15){
color: #ffffff;
}

h5 {
    margin-top: 50px;
}

input {
    width: 40%;
    height: 40px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    transition: all 0.3s;
}

input:valid {
    border: 1px solid green;
}

input:invalid {
    border: 1px solid aqua;
}

.button {
    position: absolute;
    margin: 0;
    top: 100%;
    left: 40%;
}

button {
    cursor: pointer;
    color: white;
    background: black;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 5px;
}

button:hover {
    filter: brightness(200%);
    background: rgb(52, 52, 52);
}

button:focus {
    outline: none;
}